<h2>Política de privacidade</h2>
<hr />
<p>
  Estamos seriamente preocupados com a sua privacidade. - Dor + Amor precisa de
  alguns dados pessoais seu, mas não os utiliza para quaisquer fins que não
  sejam para o seu benefício próprio. Quando você compartilha com a gente suas
  informações pessoais as mesmas são armazenadas em nosso banco de dados, e
  guardadas com muito cuidado. A utilização dos seus dados é unicamente para
  fins de ajudá-lo. É importante enfatizar que seus dados não serão utilizados
  para fins comerciais.
</p>
<p>
  Quando você precisa de ajuda, seu nome completo, e-mail e telefone será
  compartilhado com o interessado em ajudá-lo, e somente após este se
  identificar, poderá visualizar tais dados.
</p>
<p>
  É importante salientar que o projeto ainda está em fase de testes, e algumas
  coisas estão se modulando, inclusive nossa política de privacidade.
</p>
