<ng-template #home>
  <section id="home">
    <div class="carousel">
      <div class="container default">
        <owl-carousel-o [options]="carouselOptions" class="testimonials-carousel">
          <ng-container *ngFor="let user of usersCarousel">
            <ng-template [id]="user.id" carouselSlide>
              <div
                [routerLink]="['/testimonial', user.testimonial._id]"
                class="carousel-block"
              >
                <div class="content">
                  <div class="user-testimonial">
                    <p>
                      {{ user.testimonial.text | summary: 200 }}
                    </p>
                  </div>
                  <div class="user-info">
                    <h5 class="font-weight-bold">{{ user.firstName }}</h5>
                    <h6>{{ user.testimonial.state }}</h6>

                    <div
                      [ngClass]="user.testimonial.category"
                      class="badge-testimonial carousel"
                    ></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>

    <div class="cta">
      <div class="container default">
        <div class="help-needy text-center">
          <p>
            Compartilhe um sentimento de <strong>amor</strong> ou uma sensação
            de <strong>dor</strong>!
          </p>
          <p>
            Estamos todos juntos compartilhando sentimentos e sensações para
            tocar uns aos outros.
          </p>
          <button class="btn btn-light" routerLink="/testimonial/create">
            Escrever!
          </button>

          <div class="bg"></div>
        </div>
      </div>
    </div>

    <div #testimonials class="testimonials">
      <div class="container default">
        <div class="filterByText">Filtrar por:</div>
        <ul class="list-filter list-group list-group-horizontal">
          <li
            (click)="filterByDate($event, testimonials)"
            [ngClass]="{ active: filterActive === 'f-date' }"
            class="list-group-item f-date"
          >
            Data
          </li>
          <li
            (click)="filterByInterests($event)"
            [ngClass]="{ active: filterActive === 'f-most-interested' }"
            class="list-group-item f-most-interested"
          >
            Mais vistos
          </li>
          <li
            (click)="filterByStates($event, testimonials)"
            [ngClass]="{ active: filterActive === 'f-states' }"
            class="list-group-item f-states"
          >
            Estado
          </li>
        </ul>
        <div>
          <div
            (click)="goToTestimonial(i)"
            *ngFor="let user of users; let i = index"
            [ngClass]="{ active: testimonialEvent === i }"
            class="testimonial-archive"
          >
            <div>
              <div class="info">
                <h5>{{ user.firstName }} {{ user.lastName }}</h5>
                <div
                  [ngClass]="user.testimonial.category"
                  class="badge-testimonial"
                ></div>
              </div>
              <div class="text">
                <p>{{ user.testimonial.text }}</p>
                <div class="row">
                  <div class="col">
                    <h6>
                      {{ user.testimonial.city }}<br/>
                      {{ user.testimonial.state }}
                    </h6>
                  </div>
                  <div class="col">
                    <interested-button
                      *ngIf="user.testimonial.category === 'love'"
                      [count]="user.testimonial.interests"
                      [testimonialId]="user.testimonial._id"
                      title="Sinta amor"
                    ></interested-button>
                    <interested-button
                      *ngIf="user.testimonial.category === 'pain'"
                      [count]="user.testimonial.interests"
                      [testimonialId]="user.testimonial._id"
                      title="Doe amor"
                    ></interested-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<div *ngIf="loading; else home" class="loadingSomething"></div>
