@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Poppins/Poppins-Regular.eot);
    src: local('Poppins Regular'), local('Poppins-Regular'), local('Poppins'), url(assets/fonts/Poppins/Poppins-Regular.svg#Poppins) format('svg'), url(assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype'), url(assets/fonts/Poppins/Poppins-Regular.woff) format('woff'), url(assets/fonts/Poppins/Poppins-Regular.woff2) format('woff2'), url(assets/fonts/Poppins/Poppins-Regular.eot?#iefix) format('embedded-opentype');
}