#howitworks {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  background: white;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.progress {
  width: 20%;
  height: 10px;
  border-radius: 0;
  background-color: rgb(71, 220, 86);
  transition: all 1s linear;
}

figure {
  text-align: center;
}

.figure-caption {
  color: black;
  font-size: 1rem;
  margin: 5% 15%;
}

.loading-img {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
}

.spinner-border {
  color: black;
}