<section id="header">
    <div class="container default">
        <div class="row align-items-center h-100">
            <div class="col-4 col-md-6 py-5 mx-auto">
                <h1 class="logo">
                    <a routerLink="/">
                        <img src="assets/images/logo.svg" alt="Menos Dor Mais Amor" title="- Dor + Amor" />
                    </a>
                </h1>
            </div>
            <div class="col-8 col-md-6 py-5 mx-auto">
                <div class="slogan">
                    <strong>Doe amor</strong>, <br/>
                    Diminua uma dor.
                </div>
            </div>
        </div>
    </div>
</section>