<h2>Menos <strong>Dor</strong> <br />Mais <strong>Amor</strong></h2>
<hr />
<p>
  Há momento em que a sensação de <strong>Dor</strong> toma conta de nossas
  vidas através das mais diversas formas. Quando precisamos combatê-la, somente
  um sentimento como o <strong>Amor</strong> pode ajudar.
  <strong>- Dor + Amor</strong> tem o propósito de diminuir a sua dor com amor.
  O intuito é conscientizar você a compartilhar, seja uma sensação ou
  sentimento, estamos criando o movimento:
</p>
<p>
  <em>"Apenas compartilhe! Seja uma sensação ou sentimento."</em>
</p>
<p>
  Incentivamos a troca de uma sensação de dor por sentimento de amor.
  Acreditamos que pequenos gestos de envolvimento são capazes de ascender a
  esperança, combustível fundamental para as nossas vidas.
</p>
