@import 'assets/scss/components/home/modal.scss';

#home {
    @import 'assets/scss/components/home/carousel.scss';

    // variables
    $transition: all 0.2s linear;
    

    .cta {
        .btn {
            border-radius: 100px;
            font-weight: bold;
            padding: 10px 30px;
        }
    }

    .badge-testimonial {
        width: 80px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        

        &.carousel {
            top: inherit;
            bottom: 28px;
            right: 20px;
        }

        &.love {
            background: url(assets/images/love-icon.svg); 
            background-repeat: no-repeat;
            background-position: right;   
        }
        &.pain {
            background: url(assets/images/pain-icon.svg);
            background-repeat: no-repeat;
            background-position: right;   
        }
        
    }

    .list-filter {
        border: 2px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 4px 2px;
        margin: 0 auto 60px auto;
        display: flex;
        align-items: center;
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        .list-group-item {
            background: transparent;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            margin: auto;
        
            a {
                color: black;
                &:hover {
                    text-decoration: none;
                    
                }
            }
            
            &:hover, &.active {
                color: black;
                background: $default-green-gradient;
            }
        }
    }
    
    
    .help-needy {
        background: black;
        border-radius: 7px;
        color: $white;
        padding: 10%;
        margin-bottom: -125px;
        position: relative;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
        z-index: 1;

        .bg {
            background:  url(assets/images/bg-home-cta-needy.jpg);
            background-repeat: no-repeat;
            background-position: 50% 85%;
            background-size: 160%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
            opacity: 0.2;
            border-radius: 7px;
            filter: blur(2px);
        }
    }

    .testimonials {
        padding-top: 100px;
        background: #f2f2f2;
        margin: 0 0 -15px 0;
        padding-bottom: 3rem;

        .youNow {
            margin: 30px auto 5px auto;
            border-radius: 30px 30px 0 0;
            color: black;
            padding: 8px 4px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
            background: #fff;
            
            .filterByText {
                margin: 0;
            }
        }

        .filterByText {
            font-size: 0.8rem;
            text-align: center;
            margin: 60px 0 10px 0;
            text-transform: uppercase;
            color: #686868;  
        }
    }

    .testimonial-archive {
        padding: 10px 5px;
        border-radius: 7px;
        max-height: 128px;
        background-color: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
        margin-top: -10px;
        -webkit-transition: max-height 0.5s ease-out;
        -moz-transition: max-height 0.5s ease-out;
        -o-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        border: 15px solid white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;

        &:hover, &.active {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.29);
            max-height: 600px;
            -webkit-transition: max-height 1s ease-in;
            -moz-transition: max-height 1s ease-in;
            -o-transition: max-height 1s ease-in;
            transition: max-height 1s ease-in;
            z-index: 1;
        }


        small {
            color: $default-grey
        }

        .info {
            height: 30px;

            h5 {
                font-size: 1rem;
                font-weight: bold;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            
        }
        .text {
            p{
                font-size: 0.9rem;
                color: $default-grey;
            }
            h6 {
                color: $default-grey;
                font-size: 0.9rem;
                font-style: italic;
            }

        }
    }


    @media only screen and (min-width: $breakpoint-mobile) {
   
    }
    
    @media only screen and (max-width: $breakpoint-mobile) {
        .list-filter {
            .list-group-item {
                padding: 10px;
            }
        }
    }

}

