@import 'assets/scss/components/home/modal.scss';

#home {
    @import 'assets/scss/components/home/carousel.scss';

    // variables
    $transition: all 0.2s linear;
    

    .cta {
        padding: 3rem 0;

        .btn {
            border-radius: 100px;
            font-weight: bold;
            padding: 10px 30px;
        }
    }
    
    .list-filter {
        border: 2px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 100px;
        margin: 0 auto 60px auto;
        padding: 4px 2px;
        width: 320px;

        .list-group-item {
            background: transparent;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            margin: 0 2px;
        

            a {
                color: black;
                &:hover {
                    text-decoration: none;
                    
                }
            }
            
            &:hover, &.active {
                color: black;
                background: $default-green-gradient;
            }
        }
    }
    
    .help-needy {
        background: linear-gradient(6.84deg, rgba(0, 0, 0, 0.6) 2%, rgba(255, 255, 255, 0) 162.80%), linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/images/bg-home-cta-needy.jpg);
        background-repeat: no-repeat;
        background-position: 50% 85%;
        background-size: 160%;
        border-radius: 7px;
        color: $white;
        padding: 10% 5%;
        margin-bottom: -125px;
        position: relative;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
    }

    .testimonials {
        padding-top: 100px;
        background: #f2f2f2;
        margin: 0 0 -15px 0;
        padding-bottom: 3rem;

        .filterByText {
            font-size: 0.8rem;
            text-align: center;
            margin: 10px 0;
            text-transform: uppercase;
            color: #686868;  
        }
    }

    .needy-testimonial {
        padding: 10px 5px;
        border-radius: 7px;
        max-height: 200px;
        background-color: $white;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
        margin-top: -10px;
        -webkit-transition: max-height 0.5s ease-out;
        -moz-transition: max-height 0.5s ease-out;
        -o-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        border: 15px solid white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        &:hover, &.active {
            transform: scale(1.02);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.29);
            max-height: 600px;
            -webkit-transition: max-height 1s ease-in;
            -moz-transition: max-height 1s ease-in;
            -o-transition: max-height 1s ease-in;
            transition: max-height 1s ease-in;
        }


        small {
            color: $default-grey
        }

        .info {
            height: 30px;

            h5 {
                font-size: 1.2rem;
                font-weight: bold;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            
        }
        .text {
            p{
                font-size: 0.9rem;
                color: $default-grey;
            }
            h6 {
                color: $default-grey;
                font-style: italic;
                font-size: 1rem;
            }

        }

        
        // mobile
        &.mClickEffect {
            transform: scale(1.02);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.29);
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
        }
    }
}

