#footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/bg-footer.jpg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 160%;
    color: $white;
    padding: 2rem 0;


    .logo {
        height: auto;
        width: 128px;
        margin: auto;
        margin-bottom: 1rem;
    }

    .slogan {
        font-weight: normal;
    }

    .nav {
        padding: 1rem 0;
        .nav-item {
            font-size: 0.8rem;

            a {
                color: $white;
            }
        }
    }

    .by {
        font-size: 0.7rem;
        text-align: center;
        color: $default-green;
    }
}