/*

Styles Structure

*/

/* Globals */
@import 'assets/fonts/fonts.scss';
@import 'assets/scss/colors.scss';


body {
    font-family: 'Poppins', sans-serif;

    &.loadingSomething {
        overflow: hidden;
    }
}

.loadingSomething {
    position: fixed;
    background: white;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;

    &:before {
        background: url(assets/images/logo.svg);
        background-size: 256px;
        background-repeat: no-repeat;
        height: 100vh;
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
    }
}

.container {
    &.default {
        padding-left: 30px;
        padding-right: 30px;
    }
}



// Modal
.modal-backdrop {
    background-color: white;
    &.show {
        opacity: 9;
    }
}

.modal-header {
    .close {

    }
    border-bottom: 1px solid #f2f2f2;
}
.modal-content {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
    border: none;
    margin: 0 15px;
}



// Buttons
.btn-default {
    color: #fff;
    background-color: $default-green-1;
    border-color: $default-green-1;
    border-radius: 100px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.13);

    &.style1 {
        //border-radius: 0.25rem;
        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.13);
        padding: 4px;

        &:active, &:focus {
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.26);
        }
    }

    &:hover {
        color: #fff;
        background-color: $default-green-1;
        border-color: $default-green-1;
    }


    &:active, &:focus {
        background-color: $default-green-1;
        border-color: $default-green-1;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.26);
    }
}

.custom-file-label::after {
    content: 'Procurar';
}



// Forms

.form-control {
    border: 1px solid #f2f2f2;
    //color: #B8B8B8;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $default-green;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(71, 220, 86, 0.25);
    }
}

.custom-select {
    border-color: #f2f2f2;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $default-green;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(71, 220, 86, 0.25);
    }
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: $default-green;
    box-shadow: 0 0 0 0.2rem rgba(71, 220, 86, 0.25);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(71, 220, 86, 0.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $default-green;
    background-color: $default-green;
}

.alert {
    margin: 0.5rem 0;
}

/***/

/* Layout */

// Spacings
$spacing-between-fc: 0 0 50px 0;

.blank-block {
    background-color: $white;
    padding: 45px 30px;
    border-radius: 7px;
    margin: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
    margin: $spacing-between-fc;
    position: relative;

    .close {
        float: none;
        position: absolute;
        right: 20px;
        top: 20px;

    }
}



@import 'assets/scss/layout/header/logo.scss';
@import 'assets/scss/layout/footer.scss';
/***/

/* Components */
@import 'assets/scss/components/home/global.scss';
@import 'assets/scss/components/testimonials/forms.scss';
@import 'assets/scss/components/testimonials/detail.scss';
