<ng-template #detail>
    <div class="testimonial-detail">
        <div class="badge-testimonial {{testimonial.category}}"></div>

        <h5>{{ testimonial.firstName }} {{ testimonial.lastName }}</h5>
        <h6>{{ testimonial.city }}, {{ testimonial.state }}</h6>

        <p>{{ testimonial.text }}</p>

        <!-- Media here -->

        <div class="text-center">
            <common-button *ngIf="testimonial.help === true" [testimonialId]="testimonial._id"  title="Quero diminuir essa dor!" (click)="goHelp()"></common-button>
        </div>
</div>
</ng-template>

<div *ngIf="loading; else detail" class="loadingSomething"></div>