<div class="helper-form">
    <form #f="ngForm" (ngSubmit)="submit(f)" class="form">
        <div class="form-group">
            <label for="firstName"></label>
            <input 
                ngModel
                required 
                name="firstName" 
                #firstName="ngModel"
                id="firstName" type="text" placeholder="Nome" class="form-control">
            
                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">Name is required.</div>
            </div>
        </div>

        <p> {{ f.value | json }} </p>

        <button class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
    </form>
</div>