<section id="home">
    <div class="carousel">
        <div class="container">
            <owl-carousel-o [options]="customOptions" class="testimonials-carousel">
                <ng-container *ngFor="let user of users">
                    <ng-template carouselSlide [id]="user.id">
                        <div class="carousel-block">
                            <div class="content">
                                <div class="user-testimonial">
                                    <p>
                                        {{ user.testimonial.text | summary}}
                                    </p>
                                </div>
                                <div class="user-info">
                                    <h5 class="font-weight-bold">{{ user.firstName }} {{ user.lastName }}</h5>
                                    <h6>{{ user.testimonial.state }}</h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>

    <div class="cta">
        <div class="container">
            <div class="help-needy text-center">
                <p>Lorem ipsum dolor sit amet, nsectetur adipiscing sce vehiculsectetuLorem ipsum dolor sit amet, cLorem ipsum dolor sit a</p>
                <button routerLink="/testimonials" class="btn btn-light">Preciso de ajuda!</button>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, nsectetur adipiscing sce vehiculsectetuLorem ipsum dolor sit amet, cLorem ipsum dolor sit a</p>
    
            <p>Lorem ipsum dolor sit amet, nsectetur adipiscing sce vehiculsectetuLorem ipsum dolor sit amet, cLorem ipsum dolor sit a</p>
        
            <p>Lorem ipsum dolor sit amet, nsectetur adipiscing sce vehiculsectetuLorem ipsum dolor sit amet, cLorem ipsum dolor sit a</p>
        </div>
    </div>
</section>