<form>
    <h3>Conte sua história!</h3>
    <div class="form-group">
        <label for="testimonial"></label>
        <textarea id="testimonial" name="testimonial" cols="30" rows="10" placeholder="Escreve sua história" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="file"></label>
        <input type="file" id="mediaUpload" name="media" accept="">
    </div>

    <!-- Next Step -->
    <h3>Para que possam te ajudar, precisamos das seguintes informações:</h3>
    <div class="form-group">
        <label for="firstName"></label>
        <input id ="firstName" type="text" placeholder="Nome" class="form-control">
    </div>
    <div class="form-group">
        <label for="lastName"></label>
        <input id ="lastName" type="text" placeholder="Sobrenome" class="form-control">
    </div>
    <div class="form-group">
        <label for="Email"></label>
        <input id ="email" type="email" placeholder="E-mail" class="form-control">
    </div>
    <div class="form-group">
        <label for="Telefone"></label>
        <input id ="telefone" type="text" placeholder="Telefone" class="form-control">
    </div>
    <div class="form-group">
        <label for="state"></label>
        <select class="form-control" id="state" placeholder="Estado">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div> 
    
    <button class="btn btn-primary">Enviar</button>
</form>
