#needy-form {
    .form-block {
        background-color: $white;
        padding: 45px 30px;
        border-radius: 7px;
        margin: 0;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
        margin: $spacing-between-fc;
        .form {
    
            .step {
                display: none;
    
                &.currentStep {
                    display: block;
                }
            }
        }
    }
   
}