.needy-form {


    .loading {
        text-align: center;
        span {
            padding: 8px;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-default {
        margin: 20px 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield; 
    }

    h4 {
        text-align: center;
        font-size: 1.15rem;
    }


    .form {
        .step {
            display: none;

            &.currentStep {
                display: block;
            }
        }
    }

   
}